
.header {
    padding: 1515%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: burlywood;
    color: gainsboro;
    text-align: center;
}

.header h1 {
    
    font-size: 65px;
    font-style: italic;
    font-family: cursive;
    text-align: center;
}

.header h1 .name {
    color: #d9dcd6;
}

.header div {
    padding-top: 10px 10px 10px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
}


.header div ul li {
    display: center;
    text-align: center;
}

.leftcol {
    width:170px;
    height:auto;
    float:left;
    font: menu;
 }